{% extends "layout.html" %}
{% block content %}
<title>View Emails</title>

<div class="container mt-5">
    <h2 class="mb-4">My Emails</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">From</th>
                <th scope="col">Subject</th>
                <th scope="col">Snippet</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
            <tr>
                <td><strong>{{ email.from }}</strong></td>
                <td>{{ email.subject }}</td>
                <td>{{ email.snippet }}</td>
                <td class="d-flex justify-content-end">
                    <a href="{{ url_for('send_email', email_id=email.id, subject='RE: ' ~ email.subject) }}"
                        class="btn btn-outline-secondary btn-sm mx-1">Reply</a>
                    <button class="btn btn-outline-primary btn-sm mx-1"
                        onclick="toggleEmail('{{ email.id }}')">View</button>
                    <form action="{{ url_for('process_email_for_gpt', email_id=email.id) }}" method="post" class="mx-1">
                        <button class="btn btn-outline-dark btn-sm" type="submit">GPT</button>
                    </form>
                </td>
            </tr>
            <!-- Full email body hidden by default -->
            <tr id="email-{{ email.id }}" style="display:none;">
                <td colspan="4">
                    <div class="p-3" style="border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
                        <div style="white-space: pre-wrap;">{{ email.body }}</div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-secondary mt-3"
                                onclick="toggleEmail('{{ email.id }}')">Close</button>
                        </div>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">No emails to display.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function toggleEmail(emailId) {
        var emailRow = document.getElementById("email-" + emailId);
        emailRow.style.display = (emailRow.style.display === "none") ? "table-row" : "none";
    }
</script>

{% endblock content %}